




<h3 class="p-3 text-center"> Display a list of blogs</h3>
<div class="container">
  <button  type="button"(click)="create()">Creat New Blogs</button>

    <table class="table table-striped table-bordered"  mat-table >
        <thead>
            <tr>
                <th>Title</th>
                <th>Body</th>
                <th>CreationDate</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of blogsListDto">
                <td>{{item.title}}</td>
                <td>{{item.body}}</td>
                <td>{{item.creationDate}}</td>
                <td>
                  <button  type="button" (click)="update(item.id)">Edit</button>
                  <button  type="button" (click)="delet(item.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

